*{
    outline: 0;
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%
}

body{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    overflow: hidden;
    font-family: 'consolas', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.slot{ 
    position: absolute;
    align-items: center;
    z-index: 1;
}

.slot__btn{
    width: 120px;
    height: 100px;
    display: block;
    position: absolute;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    z-index: inherit;
}

.slot__description{
    display: table;
    width: 500px;
    height: 50px;
    transform: rotate(-90deg) translate3d(220px, -190px, 0px);
    z-index: inherit;
}

.p{
    display:table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 100;
    color: #333333;
    z-index: inherit;
}

.header{
    width: 30%;
    position: absolute;
    left: 35%;
    top: 15%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    z-index: 1;
}

.menu{
    display: flex;
    position: absolute;
}