*{
    outline: 0;
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html{
    width: 100%;
    height: 100%
}

body{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    overflow-x: hidden;
    font-family: 'consolas', 'Nanum Gothic';
}

canvas{
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 0;
}

.slot{
    width:120px;
    height: 80%;
    position: absolute;
    display: table;
    z-index: 1;
    align-items: center;
}

.slot__btn{
    bottom: 0px;
    width: 120px;
    height: 100px;
    display: block;
    position: absolute;
    text-align: center;
    font-size: min(100px, 600%);
    font-weight: 800;
    z-index: inherit;
}

.slot__description{
    display: table;
    position: absolute;
    width: 500px;
    height: 50px;
    bottom: 330px;
    z-index: inherit;
    transform: rotate(-90deg) translate3d(0px, -195px, 0px);;
}

.p{
    display:table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 100;
    color: #333333;
    z-index: inherit;
}

.header{
    width: 100%;
    position: absolute;
    display: block;
    top: 15%;
    text-align: center;
    font-size: 200%;
    font-weight: 600;
    z-index: 1;
}

.menu{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.content{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 3;
}

.close_btn{
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 15px;
    background-color: black;
    z-index: 4;
    left: 15px;
    top: 48%;
}

.content_description{
    width: 40%;
    height: 100%;
    background-color: white;
    display: table;
    position: absolute;
    vertical-align: middle;
    left: 0;
    z-index: 3;
}

.content_text{
    display:table-cell;
    text-align: right;
    vertical-align: middle;
    width: 100%;
    font-size: min(20px, 110%);
    font-weight: 100;
    color: #333333;
    z-index: inherit;
    padding: 20px;
    font-family: 'Nanum Gothic';
}

.content_title{
    text-align: inherit;
    vertical-align: middle;
    width: 100%;
    font-size: min(150px, 600%);
    font-weight: 900;
    color: #333333;
    z-index: inherit;
    font-family: 'consolas';
}

.content_subtitle{
    text-align: inherit;
    vertical-align: middle;
    width: 100%;
    font-size: min(40px, 250%);
    color: #333333;
    font-weight: 700;
    z-index: inherit;
    font-family: 'consolas';
}

.loading{
    display: table;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;
    color: red;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Nanum Gothic';
}

.loading_info{
    display: block; 
    width: 100%;
    position: absolute;
}

.loading_text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    color: #333333;
    z-index: inherit;
}

@media(max-width:1000px){
    canvas{
        width: 100%;
        height: 60%;
        position: absolute;
        top: 0;
        z-index: 0;
    }

    .content_description{
        width: 100%;
        height: 40%;
        background-color: white;
        display: table;
        position: absolute;
        vertical-align: middle;
        top: 60%;
        z-index: 3;
    }
}

@media(max-height:600px){
    .slot__description{
        display:none;
    }
}