*{
    outline: 0;
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html{
    width: 100%;
    height: 100%
}

body{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    overflow: hidden;
    font-family: 'consolas', 'Nanum Gothic';
}

canvas{
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 0;
}

.slot{
    width:120px;
    height: 80%;
    position: absolute;
    display: table;
    z-index: 1;
    align-items: center;
}

.slot__btn{
    bottom: 0px;
    width: 120px;
    height: 100px;
    display: block;
    position: absolute;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    z-index: inherit;
}

.slot__description{
    display: table;
    position: absolute;
    width: 500px;
    height: 50px;
    bottom: 330px;
    z-index: inherit;
    transform: rotate(-90deg) translate3d(0px, -195px, 0px);;
}

.p{
    display:table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 100;
    color: #333333;
    z-index: inherit;
}

.header{
    width: 30%;
    position: absolute;
    display: block;
    left: 35%;
    top: 15%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    z-index: 1;
}

.menu{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.content{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.close_btn{
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 15px;
    background-color: black;
    z-index: 3;
    left: 15px;
    top: 48%;
}

.content_description{
    width: 40%;
    height: 100%;
    background-color: white;
    display: table;
    position: absolute;
    vertical-align: middle;
    left: 0;
    z-index: 2;
}