.content-page {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.content-canvas {
    display: flex;
    width: 70vw;
    height: 100vh;
    background-color: bisque;
    z-index: inherit;
}

.content-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 100vh;
    background-color: white;
    text-align: right;
    padding-right: 1%;
    z-index: inherit;
}

.content-alphabet {
    width: 100%;
    font-family: 'Consolas';
    font-size: 8vw;
    margin-top: -10%;
    z-index: inherit;
}

.content-title {
    width: 100%;
    font-family: 'Consolas';
    font-size: 3vw;
    margin-bottom: 5%;
    z-index: inherit;
}

.content-text {
    flex-direction: column;
    display: flex;
    width: 100%;
    font-size: 1vw;
    z-index: inherit;
}

.content-text-line {
    width: 100%;
    height: 1.5vw;
    z-index: inherit;
}

.content-close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2vw;
    height: 2vw;
    font-size: 0;
    z-index: inherit;
}

.content-close:before,
.content-close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.2vw;
    height: 0.8vw;
    background-color: black;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
    z-index: inherit;
}

.content-close:after {
    transform: rotate(-45deg) translate(-50%, -50%);
    z-index: inherit;
}