.main-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
    touch-action: none;
    user-select: none;
}

.wheel-menu {
    position: absolute;
    width: 80vw;
    height: 80vw;
    left: -40%;
    top: 50%;
    margin-top: -40vw;
    background-color: rgb(142, 142, 142);
    border-radius: 50%;
    border: 1vw solid white;
    outline: 5vw solid white;
    outline-offset: -5vw;
    z-index: 0;
}

.main-title {
    display: flex;
    position: absolute;
    font-size: 4vw;
    width: 20vw;
    height: 20vw;
    left: 50%;
    top: 50%;
    margin-left: -10vw;
    margin-top: -10vw;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: inherit;
}

.wheel-slot {
    display: flex;
    position: absolute;
    margin-left: -3vw;
    margin-top: -3vw;
    left: 50%;
    top: 50%;
    width: 6vw;
    height: 6vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'consolas', 'Nanum Gothic';
    z-index: inherit;
}

.wheel-slot-label {
    display: flex;
    position: absolute;
    width: 6vw;
    height: 6vw;
    font-size: 5vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: inherit;
}

.wheel-slot-description {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    height: 6vw;
    left: 13vw;
    font-size: 2vw;
    text-align: center;
    justify-content: left;
    color: darkgray;
    z-index: inherit;
    margin-top: 0.5vw;
}

.wheel-slot-title {
    display: flex;
    width: max-content;
    height: 2vw;
    font-size: 2vw;
    text-align: center;
    align-items: end;
    justify-content: left;
    color: darkgray;
    z-index: inherit;
}

.wheel-slot-date {
    display: flex;
    width: max-content;
    height: 2vw;
    font-size: 1vw;
    text-align: center;
    align-items: top;
    justify-content: left;
    color: darkgray;
    z-index: inherit;
}

.selected-description {
    height: 6vw;
    z-index: inherit;
    margin-top: -2vw;
}

.selected-label {
    font-size: 10vw;
    z-index: inherit;
}

.selected-title {
    height: 4vw;
    font-size: 4vw;
    color: black;
    z-index: inherit;
}

.selected-date {
    height: 2vw;
    font-size: 1.5vw;
    color: black;
    z-index: inherit;
}

.wheel-slot-device {
    display: flex;
    width: max-content;
    height: 1.5vw;
    min-height: 1.5vw;
    font-size: 1vw;
    text-align: center;
    justify-content: left;
    color: darkgray;
    z-index: inherit;
}

.selected-device {
    height: 2vw;
    min-height: 2vw;
    font-size: 1.5vw;
    color: black;
    z-index: inherit;
}

@media all and (max-aspect-ratio:2/3) {
    .wheel-menu {
        position: absolute;
        width: 80vh;
        height: 80vh;
        top: 80%;
        left: calc(-40vh + 50vw);
        margin-top: -40vw;
        background-color: rgb(142, 142, 142);
        border-radius: 50%;
        border: 1vw solid white;
        outline: 5vw solid white;
    }

    .main-title {
        font-size: 4vh;
    }

    .wheel-slot {
        margin-left: -3vh;
        margin-top: -3vh;
        left: 50%;
        top: 50%;
        width: 6vh;
        height: 6vh;
    }

    .wheel-slot-label {
        display: flex;
        position: absolute;
        width: 6vh;
        height: 6vh;
        font-size: 5vh;
        text-align: center;
        align-items: center;
        justify-content: center;
        z-index: inherit;
    }

    .selected-label {
        font-size: 10vh;
        z-index: inherit;
    }

    .wheel-slot-description {
        display: none;
        position: absolute;
        left: calc(50% - 50vw);
        top: -30vh;
        width: 100vw;
        height: 20vh;
        align-items: center;
        justify-content: end;
    }

    .selected-description {
        display: flex;
        height: 20vh;
        z-index: inherit;
        margin-top: -2vw;
    }

    .selected-title {
        height: fit-content;
        max-width: 100vw;
        font-size: 7vh;
    }

    .selected-date {
        height: fit-content;
        font-size: 2vh;
    }

    .selected-device {
        height: 3vh;
        min-height: 3vh;
    }
}