.page-transition {
    position: relative;
    overflow: hidden;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
}

.content-page.enter {
    transform: translateX(100%);
}

.content-page.enter-active {
    transform: translateX(0);
    transition: transform 1000ms;
}

.content-page.exit {
    transform: translateX(0);
}

.content-page.exit-active {
    transform: translateX(100%);
    transition: transform 1000ms;
}