.page-transition {
    position: relative;
    overflow: hidden;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
}

.main-page.enter {
    transform: translateX(0);
}

.main-page.enter-active {
    transform: translateX(0);
}

.main-page.exit {
    transform: translateX(0);
}

.main-page.exit-active {
    transform: translateX(0);
}

@media all and (max-aspect-ratio:2/3) {

    .content-page.enter {
        .content-description {
            transform: translateY(100vh);
        }

        .content-canvas-wrapper {
            transform: translateY(60vh);
        }
    }

    .content-page.enter-active {
        .content-description {
            transform: translateY(0);
            transition: transform 1000ms;
        }

        .content-canvas-wrapper {
            transform: translateY(0);
            transition: transform 1000ms;
        }
    }

    .content-page.exit {
        .content-description {
            transform: translateY(0);
        }

        .content-canvas-wrapper {
            transform: translateY(0);
        }
    }

    .content-page.exit-active {
        .content-description {
            transform: translateY(100vh);
            transition: transform 1000ms;
        }

        .content-canvas-wrapper {
            transform: translateY(60vh);
            transition: transform 1000ms;
        }
    }


}